NEXT_PUBLIC_SUPABASE_URL=https://iotqjfjhfqsfkxfpjfcp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlvdHFqZmpoZnFzZmt4ZnBqZmNwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjUwNDYzNTAsImV4cCI6MjA4MDYyMjM1MH0.soybJmhXU1wIOaQ3gz-CSViaAJM5UvKQzS8ivMjY6eE
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_12345
STRIPE_SECRET_KEY=sk_12345
LEMON_SQUEEZY_API_KEY=your_api_key_here
LEMON_SQUEEZY_STORE_ID=your_store_id_here
MAILGUN_API_KEY=your_mailgun_api_key
MAILGUN_DOMAIN=your_mailgun_domain
MAILGUN_FROM_EMAIL=noreply@yourdomain.com